@font-face {
    font-family: 'Posterama2001W04';
    src: url('Posterama2001W04-Regular.eot');
    src: url('Posterama2001W04-Regular.eot?#iefix') format('embedded-opentype'),
        url('Posterama2001W04-Regular.woff2') format('woff2'),
        url('Posterama2001W04-Regular.woff') format('woff'),
        url('Posterama2001W04-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

